<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.potm_android_app"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.potm_android_app.screen.auth.AuthActivity"
            android:label="@string/auth"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.potm_android_app.screen.registerti.RegisterTiActivity"
            android:label="@string/title_activity_register_ti"
            android:parentActivityName="com.potm_android_app.screen.main.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.potm_android_app.MainActivity" />
        </activity>
        <activity
            android:name="com.potm_android_app.screen.main.MainActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.potm_android_app.screen.auth.AuthActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.potm_android_app.screen.auth.AuthActivity" />
        </activity>
    </application>

</manifest>